/* 

Sigma Template

http://www.templatemo.com/tm-479-sigma

*/

body {
 
}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}

/* ----------------------------------------------Search Form------------------------------------- */

#topbar #search{display:block; float:right;}
#topbar input{display:block; float:left; width:229px; margin:0 5px 0 0; padding:5px; color:#333333; background-color:#000000; border:1px solid #272727; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
#topbar input#go{width:30px; height:27px; margin:0; padding:0;}
/*--------------------------------------------------search form end ---------------------------*/

li #topnav{ width: 300px; 
	 -moz-box-sizing: border-box; /*Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
} 
.topnav
{ width: 300px; 
	 -moz-box-sizing: border-box;/*Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
} 

.sigma-hr {
   	margin: 15px -15px !important;
}

.sigmapad {
	padding: 0 1px 1px 0 !important;
	margin: 0 !important;
}

.sigmano {
	padding: 0 !important;
	margin: 0 !important;
}


.space40 {
	margin-bottom: 40px;
}

.sigma-start {
	margin: 10px;
	padding: 16px 40px;
	min-width: 200px;
	font-size: 22px;
}

.sigma-content {
	padding: 60px 40px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	min-height: 280px;
}



#container {
	font-size: 1em;
	width:100%;
	padding: 15px 20px;
	margin: auto;

	position: relative;
	clear: both
}


#container ul li {list-style:none}
#container ol li {list-style: none}





@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);



.clear {
  clear: both;
}

.sort_navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(58,58,58);
 

  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  */
}

.sort_navigation li {
  float: left;

}

.sort_navigation li:hover {
  background: #222;
}

.sort_navigation li:first-child {
 
}

.sort_navigation li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  line-height: 40px;
  color: #fff;
}

.sort_navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}

.sort_navigation ul li {
  float: none;
}

.sort_navigation li:hover > ul {
  display: block;
  background: #222;
  
  border-top: 0;
 
  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.sort_navigation li:hover > ul li:hover {
  
}

.sort_navigation li li a:hover {
  background: #000;
}

.sort_navigation ul li:last-child a,
.sort_navigation ul li:last-child a:hover {
  
}

/*INDEX GRID*/

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  
  
  margin:auto;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
height:auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}






/*INDEX GRID  END*/







/**************************************************************************************/
/*------------------------------------- Grid Homepage -------------------------------*/
/************************************************************************************/
#works {
	float: right; background-color:#000000;
}

#grid {	
	width:100%; padding: 20px 0 30px; height:100%; font-size: 12px; line-height: 100%; }

#grid h4 {font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0}

.item-hover{
	margin:0!important;
	padding:0!important;
	height:auto;
	}
#grid .portfolio-thumbnail{
	position:absolute;
	left: 0px;
	top: 0px;
	display:none;
	height:100%;
	width: 100%;
	background: #000;
	text-align: left;
	cursor:pointer;	
}
#grid .thumb-text{
	padding:10px;
}
#grid .portfolio-thumbnail h4{color:#f26c4f;}
#grid .portfolio-thumbnail p{color:#FFF;}
#grid .one-half,#grid .one-third,#grid .one-fourth,#grid .one-fifth {
	margin-right:2px;	
	margin-top:2px;	
	margin-bottom:0!important;	
	margin-left:0!important;
	}
#grid .one-half {
	width:478px;
	float:left;	
	position: relative;
}
#grid .one-third {
	width:318px;
	float:left;	
	position: relative;
}
#grid .one-fourth {
	width:238px;
	float:left;	
	position: relative;
}

#grid .one-fifth {
	width:118px;
	float:left;
	position: relative;
}
#grid .last-grid{margin-right:0px;}


/**************************************************************************************/
/*--------------------------------------- Columns -----------------------------------*/
/************************************************************************************/


.left {
	float:left;
}
.right {
	float:right;
}
.one, .one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth ,.inner-content, .one-third-big { 
	float:left; 
}
.one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth, .inner-content,.one-third-big  {
	margin-right: 20px;
	margin-left: 40px;
}
.one {
	width:960px;
}
.one-half {
	width:465px;
}
.two-third {
	width:630px;
}
.one-third  {
	width:300px;
}
.inner-content  {
	width:712px;
}
.one-third-big{ width:340px;}
.one-fourth {
	width:25%;
	height: auto;
}
.one-fifth {
	width:168px;
}
.one-sixth {
	width:135px;
}
.last { 
	margin-right: 0px!important;
}

/* boxes */

.box_highlight {background: #f8f8f8; padding: 15px; margin: 20px 0; border: 1px solid #CCC; border-radius: 5px; clear: both}


@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
}




/***************************************************
		  FILTERABLE   PORTFOLIO 
***************************************************/











/*HOVER*/

.art_hovereffect {
  width: 100%;-webkit-backface-visibility: hidden;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background-position: 0 -40px; 
}

.art_hovereffect .overlay {color:#fff !important;
  position: absolute;-webkit-backface-visibility: hidden;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);background-position: 0 -40px; 
}

.art_hovereffect:hover .overlay {
  opacity: 1;-webkit-backface-visibility: hidden;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);background-position: 0 -40px; 
  -ms-transform: scale(1);
  transform: scale(1);
}

.art_hovereffect img {
  display: block;-webkit-backface-visibility: hidden;
  position: relative;
  -webkit-transition: all 0.35s;background-position: 0 -40px; 
  transition: all 0.35s;
}

.art_hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);-webkit-backface-visibility: hidden;
  -webkit-filter: brightness(0.6);background-position: 0 -40px; 
}

.art_hovereffect h2 {
 -webkit-backface-visibility: hidden;
  text-align: center;
  position: relative;
  font-size: 17px;background-position: 0 -40px; 
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.art_hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;-webkit-backface-visibility: hidden;
  opacity: 0;background-position: 0 -40px; 
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.art_hovereffect:hover a, .art_hovereffect:hover p, .art_hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);-webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);background-position: 0 -40px; 
}


/*------------------------------------------------------*/



.hovereffect {

-webkit-backface-visibility: hidden;
float:left;background-position: 0 -40px; 
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;background-position: 0 -40px; 
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
-webkit-backface-visibility: hidden;
}

.hovereffect img {
width:100%;
-webkit-backface-visibility: hidden;
display:block;
position:relative;background-position: 0 -40px; 
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
color:#fff !important;
text-align:center;-webkit-backface-visibility: hidden;
position:relative;
font-size:17px;background-position: 0 -40px !important;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;-webkit-backface-visibility: hidden;
color:#fff;background-position: 0 -40px; 
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
align-content: center;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;-webkit-backface-visibility: hidden;background-position: 0 -40px; 
}

.hovereffect:hover img {
width:100%;
-ms-transform:scale(1.2);-webkit-backface-visibility: hidden;
-webkit-transform:scale(1.2);background-position: 0 -40px; 
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);-webkit-backface-visibility: hidden;background-position: 0 -40px; 
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);-webkit-backface-visibility: hidden;
-ms-transform:translatey(0);background-position: 0 -40px; 
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;-webkit-backface-visibility: hidden;background-position: 0 -40px; 
transition-delay:.2s;
}
.crop-image{
  position: absolute;
  background-position: center center;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.crop-image-box{

 width: 100%;
  height: 100%;
  position: relative;}
 





/*HOVER END*/


@media (max-width:1330px) {
	body {
		font-size: 16px;
		line-height: 28px;
	}
	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 24px;
	}
	.sigma-icon {
		font-size: 48px;
		padding: 20px;
	}
	.site-title h2 {
		font-size: 14px;
		padding-top: 10px;
	}
	.sigma-content {
		padding: 30px 20px;
		min-height: 200px;
	}
	.sigma-home h1 {
		font-size: 40px;
	}
	.sigma-home p {
		font-size: 18px;
		line-height: 36px;
	}
}

@media (max-width:990px) {
	.main-menu {
		margin: 0px;
	}
}

@media (max-width:767px) {

	}
	.sigma-home h1 {
		font-size: 30px;
	}
	.sigma-home p {
		font-size: 16px;
		line-height: 28px;
	}
	.sigma-content {
		padding: 20px;
		min-height: 100px;
	}
}