
table {
	background-color:#080808;

	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	padding: 0 15%;
}	

th {
	background: linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	color: #fff;

	padding: 10px 15px;
	position: relative;

}
td{
	background: #232323; /* For browsers that do not support gradients */
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	box-shadow: inset 0 1px 0 #999;
}


.buy-btn{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0.55em 0.65em;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 17px;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(98, 172, 21);
  text-shadow: 0 -1px 0 rgb(91,129,17) ;
}

.buy-btn:hover {
  background: rgb(111, 186, 34);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.buy-btn:active {
  background: rgb(98, 172, 21);
  -webkit-box-shadow: 0 1px 4px 0 rgb(65,105,23) inset;
  box-shadow: 0 1px 4px 0 rgb(65,105,23) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}


th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}


td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;

	transition: all 300ms;
}

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
	color:white;
}
#shop tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
	color:black;
}

#shop tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

