.grid {
    position: relative;
    flex-wrap: wrap;

    list-style: none;
    text-align: center;

}

.artist_grid {
    position: relative;
    width: 100%;
    background-color: #000000;
    margin: auto;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    list-style: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 1.2%; /*change here for spacing*/
    text-align: center;
    cursor: pointer;
   width: 22%;
    height: 327px;
    float: left;
}

.grid  figure:last-child {
    float: left;

}

.artist_grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0%; /*change here for spacing*/
    width: 327px;
    height: 327px;
    text-align: center;
    cursor: pointer;
}

.grid figure img {

    display: inline-block;
    max-height: 300px;
    overflow: hidden;

    opacity: 1;
    align-content: flex-start;
    text-align: center;
    align-items: baseline;

}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {

}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
    /*	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
        background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);*/
}

/*figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
*/
figure.effect-oscar figcaption {
    padding: 15%;
    /*	background-color: rgba(58,52,42,0.7);
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;*/
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 0;
    line-height: 1em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(0, 0, 0, 0.8);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }

    .grid figure {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .grid figure {
        width: 100%;
    }
}